amqp==5.3.1
asgiref==3.9.1
awscli==1.44.81
billiard==4.2.4
boto3==1.42.91
botocore==1.42.91
cachetools==5.4.0
celery==5.6.3
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
croniter==6.0.0
cryptography==46.0.7
Django==5.2.4
django-allauth==65.16.1
django-appconf==1.1.0
django-axes==8.3.1
django-countries==7.6.1
django-crispy-forms==2.6
django-imagekit==5.0.0
django-js-asset==2.2.0
django-mptt==0.16.0
django-picklefield==3.3
django-q2==1.8.0
django-ratelimit==4.1.0
django-recaptcha==4.1.0
django-storages==1.14.6
django-widget-tweaks==1.5.1
django_compressor==4.6.0
docutils==0.19
git-filter-repo==2.47.0
google-auth==2.33.0
idna==3.11
jmespath==1.0.1
kombu==5.6.2
packaging==25.0
pilkit==3.0
pillow==12.2.0
prompt_toolkit==3.0.51
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2026.1.post1
PyYAML==6.0.2
rcssmin==1.2.2
redis==6.2.0
requests==2.33.1
rjsmin==1.2.5
rsa==4.7.2
s3transfer==0.16.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.12.2
tzdata==2026.1
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.2.13
wheel==0.46.3
whitenoise==6.9.0
