{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block content %}
<div id="content" class="colM">
    <h1>Delete Listings</h1>
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to <strong>permanently delete</strong> the following listings?</p>
            <p class="warning">This will delete all associated images and data!</p>
            <ul>
                {% for obj in queryset %}
                <li>{{ obj.title }} - {{ obj.seller.user.username }}</li>
                {% endfor %}
            </ul>
            <div class="submit-row">
                <input type="hidden" name="action" value="delete_listings" />
                <input type="hidden" name="apply" value="1" />
                <input type="submit" value="Delete Listings" class="default" style="background-color: #ba2121; border-color: #ba2121;" />
                <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block 'Footer'%}
{% endblock%}