{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block content %}
<div id="content" class="colM">
    <h1>Suspend Listings</h1>
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to suspend the following listings?</p>
            <ul>
                {% for obj in queryset %}
                <li>{{ obj.title }} - {{ obj.seller.user.username }}</li>
                {% endfor %}
            </ul>
            <div class="form-row">
                <label for="id_suspension_reason" class="required">Suspension Reason:</label>
                <textarea name="suspension_reason" id="id_suspension_reason" rows="4" cols="40" required></textarea>
            </div>
            <div class="submit-row">
                <input type="hidden" name="action" value="suspend_listings" />
                <input type="hidden" name="apply" value="1" />
                <input type="submit" value="Suspend Listings" class="default" />
                <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block 'Footer'%}
{% endblock%}