<div class="message-bubble
    {% if msg.sender == request.user.profile %}message-sent{% else %}message-received{% endif %}">
    <div class="message-content">
        {{ msg.content|default:msg.decrypt_content|linebreaks }}
    </div>
    <div class="message-timestamp">
        {% if msg.sender != request.user.profile %}
            {{ msg.sender.user.username }} &bull;
        {% endif %}
        {{ msg.timestamp|date:"g:i A, M d" }}
        {% if msg.sender == request.user.profile %}
            <i class="fas fa-lock ms-1 encryption-icon" title="Encrypted"></i>
        {% endif %}
    </div>
</div>