{% extends 'base.html' %}

{% block 'Body' %}
    <h2 class="mb-3 py-2 fw-semibold text-center">Saved Products</h2>
    
    {% if products %}
    <div class="row row-cols-2 row-cols-md-4 g-2">
        {% for product in products %}
        <div class="col-6 col-md-4 col-lg-3">
            {% include 'product_card.html' with product=product %}
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="col-12">
        <div class="card py-5">
            <div class="card-body text-center">
                <i class="bi bi-search fs-1 text-muted mb-3"></i>
                <h5>No products saved yet !!!</h5>
                <p class="text-muted">Try save a product from product pages</p>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block 'Footer'%}{% endblock %}